body {
  background-color: #262933;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  font-size: 16px;
}

main {
  background-color: #f5b63e;
  margin: 0.5em;
  padding: 0.5em 2em;
  border-radius: 10px;
}

h1, h3 {
  background-color: #dfdfe2;
  margin: 0;
}

h1 {
  font-size: 50px;
  border-radius: 10px 10px 0 0;
}

h3 {
  border-radius: 0 0 10px 10px;
}

hr {
  border-color: #262933;
  height: 0.2em;
  background-color: #262933;
  margin: 1em 0;
  border-radius: 5px;
}

img {
  display: block;
  max-width: 100%;
  align-items: center;
  margin: 0 auto;
  object-fit: cover;
}

#img-div {
  background:#262933;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  color: #dfdfe2
}

figcaption {
  margin-top: 0.5em;
  font-size: 20px;
}

#tribute-info {
  background-color: #dfdfe2;
  border-radius: 10px;
  padding: 0.5em;
}

p {
  margin: 0.5em 20%;
}

#tribute-info > hr {
  height: 0;
  margin: 0 30%;
}

#tribute-info > h3 {
  margin: 1em 0 0 0;
}

ul {
  margin: 0 auto 50px auto;
  text-align: left;
  max-width: 700px;
}

li {
  margin: 16px 0;
}

a {
  color: #2596be;
}

a:visited {
  color: #2596be;
}