body {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    background-color: #e6e7e8;
    color: #004b91;
}

main {
    padding: 2%;
    background-color: #ffffff;
    width: 800px;
}

hr {
    color: #ed1c24;
}
